
  <ion-header role="banner" class="md header-md header-collapse-none hydrated">
    <!---->
    <ion-toolbar color="primary" class="in-toolbar md toolbar-title-default ion-color ion-color-primary hydrated">
        <ion-title class="titleText ion-text-uppercase md title-default hydrated">Edit product</ion-title>
        <ion-buttons slot="end" class="buttons-last-slot sc-ion-buttons-md-h sc-ion-buttons-md-s md hydrated">
            <ion-button transparent="" class="md button button-clear in-toolbar in-toolbar-color ion-activatable ion-focusable hydrated" (click)="closeModal()">
                <ion-icon name="close" role="img" class="md hydrated" aria-label="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="md hydrated" style="--offset-top: 0px; --offset-bottom: 0px;">
    <ion-list class="md list-md hydrated">
        <!----><!---->
        <ion-card class="childCards md hydrated">
            <!---->
            <ion-item class="item-interactive item-input item-has-placeholder item md in-list ion-focusable hydrated ion-untouched ion-pristine ion-valid">
                <span slot="start"><ion-icon class="iconStart md hydrated" role="img" name="basketball"  aria-label="basketball"></ion-icon></span>
                <ion-input color="dark" class="ng-untouched ng-pristine ng-valid sc-ion-input-md-h sc-ion-input-md-s ion-color ion-color-dark md hydrated ion-untouched ion-pristine ion-valid" placeholder="Enter Product Name" type="text" >
                    <!-- <input class="native-input sc-ion-input-md" aria-labelledby="ion-input-2-lbl" autocapitalize="off" autocomplete="off" autocorrect="off" name="ion-input-2" placeholder="Enter Product Name" type="text" /> -->
                </ion-input>
            </ion-item>
            <!----><!----><!----><!----><!----><!----><!----><!---->
        </ion-card>
        <ion-card class="childCards md hydrated">
            <!---->
            <ion-item class="item-interactive item-input item-has-placeholder item md in-list ion-focusable hydrated ion-untouched ion-pristine ion-valid">
                <!-- <span slot="start"><ion-icon class="iconStart md hydrated" name="filing" role="img" aria-label="filing"></ion-icon></span> -->
                <span slot="start"><ion-icon class="iconStart md hydrated" name="keypad" role="img" aria-label="keypad"></ion-icon></span>
                <ion-input color="dark" class="ng-untouched ng-pristine ng-valid sc-ion-input-md-h sc-ion-input-md-s ion-color ion-color-dark md hydrated ion-untouched ion-pristine ion-valid" placeholder="Enter Product RegularPrice" type="text" >
                    <!-- <input class="native-input sc-ion-input-md" aria-labelledby="ion-input-3-lbl" autocapitalize="off" autocomplete="off" autocorrect="off" name="ion-input-3" placeholder="Enter Product regularPrice" type="text" /> -->
                </ion-input>
            </ion-item>
            <!----><!----><!----><!----><!----><!----><!----><!---->
        </ion-card>
        <ion-card class="childCards md hydrated">
            <!---->
            <ion-item class="item-interactive item-input item-has-placeholder item md in-list ion-focusable hydrated ion-untouched ion-pristine ion-valid">
                <span slot="start"><ion-icon class="iconStart md hydrated" name="keypad" role="img" aria-label="keypad"></ion-icon></span>
                <ion-input color="dark" class="ng-untouched ng-pristine ng-valid sc-ion-input-md-h sc-ion-input-md-s ion-color ion-color-dark md hydrated ion-untouched ion-pristine ion-valid" placeholder="Price per Quanity" type="text" >
                    <!-- <input class="native-input sc-ion-input-md" aria-labelledby="ion-input-4-lbl" autocapitalize="off" autocomplete="off" autocorrect="off" name="ion-input-4" placeholder="Price per Quanity" type="text" /> -->
                </ion-input>
            </ion-item>
            <!----><!----><!----><!----><!----><!----><!---->
            <ion-item class="itemHeight item md item-lines-none in-list ion-focusable hydrated" lines="none">
                <div class="info">Fill this field if this regularPrice is related to any quantity otherwise leave blank so we take is as 1</div>
            </ion-item>
            <!---->
        </ion-card>
        <ion-card class="childCards md hydrated">
            <!---->
            <ion-item class="item-interactive item-input item-has-placeholder item md in-list ion-focusable hydrated ion-untouched ion-pristine ion-valid">
                <span slot="start"><ion-icon class="iconStart md hydrated" name="medical" role="img" aria-label="medical"></ion-icon></span>
                <ion-input color="dark" class="ng-untouched ng-pristine ng-valid sc-ion-input-md-h sc-ion-input-md-s ion-color ion-color-dark md hydrated ion-untouched ion-pristine ion-valid" placeholder="Enter Product Offer" type="number">
                    <!-- <input class="native-input sc-ion-input-md" aria-labelledby="ion-input-5-lbl" autocapitalize="off" autocomplete="off" autocorrect="off" name="ion-input-5" placeholder="Enter Product Offer" type="number" /> -->
                </ion-input>
            </ion-item>
            <!----><!----><!----><!----><!----><!----><!---->
            <ion-item class="itemHeight item md item-lines-none in-list ion-focusable hydrated" lines="none"><div class="info">In % but do not inlude % sign here</div></ion-item>
            <!---->
        </ion-card>
        <ion-card class="childCards md hydrated">
            <!----><!---->
            <ion-item class="item md in-list ion-focusable ion-untouched ion-pristine ion-valid hydrated item-label item-label-floating item-interactive item-textarea item-input">
                <ion-label position="floating" class="sc-ion-label-md-h sc-ion-label-md-s md label-floating hydrated" id="ion-input-0-lbl">Enter Product Description</ion-label>
                <ion-textarea rows="3" class="ng-untouched ng-pristine ng-valid ion-untouched ion-pristine ion-valid sc-ion-textarea-md-h sc-ion-textarea-md-s md hydrated" placeholder="" rows="3">
                    <!-- <div class="textarea-wrapper sc-ion-textarea-md">
                        <textarea class="native-textarea sc-ion-textarea-md" aria-labelledby="ion-input-0-lbl" autocapitalize="none" name="ion-input-0" placeholder="" rows="3"></textarea>
                    </div> -->
                </ion-textarea>
            </ion-item>
            <!----><!----><!----><!----><!----><!----><!---->
        </ion-card>
        <ion-card class="childCards md hydrated">
            <!---->
            <ion-item class="item-interactive item-input item-has-placeholder item md in-list ion-focusable hydrated ion-untouched ion-pristine ion-valid">
                <span slot="start"><ion-icon class="iconStart md hydrated" role="img" name="list" aria-label="list"></ion-icon></span>
                <ion-input color="dark" class="ng-untouched ng-pristine ng-valid sc-ion-input-md-h sc-ion-input-md-s ion-color ion-color-dark md hydrated ion-untouched ion-pristine ion-valid"   placeholder="Enter Product Delivery Instructions"
                type="text">
                    <!-- <input
                        class="native-input sc-ion-input-md"
                        aria-labelledby="ion-input-6-lbl"
                        autocapitalize="off"
                        autocomplete="off"
                        autocorrect="off"
                        name="ion-input-6"
                        placeholder="Enter Product Delivery Instructions"
                        type="text"
                    /> -->
                </ion-input>
            </ion-item>
            <!----><!----><!----><!----><!----><!----><!----><!---->
        </ion-card>
        <ion-card class="childCards md hydrated">
            <!----><!----><!----><!---->
            <div >
                <form novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <ion-item class="item-interactive item-input item md in-list ion-focusable hydrated item-label ion-untouched ion-pristine ion-valid">
                        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated" id="ion-input-7-lbl">Enter Pin code</ion-label>
                        <ion-input name="skillValue" class="ng-untouched ng-pristine ng-valid sc-ion-input-md-h sc-ion-input-md-s md hydrated ion-untouched ion-pristine ion-valid" name="skillValue" placeholder="" type="text" >
                            <!-- <input class="native-input sc-ion-input-md" aria-labelledby="ion-input-7-lbl" autocapitalize="off" autocomplete="off" autocorrect="off" name="skillValue" placeholder="" type="text" /> -->
                        </ion-input>
                        <button icon-only="" ion-button="" item-right="" type="submit"><ion-icon name="checkmark" role="img" class="md hydrated" aria-label="checkmark"></ion-icon></button>
                    </ion-item>
                </form>
                <!---->
            </div>
            <!----><!----><!----><!---->
            <ion-item class="itemHeight item md item-lines-none in-list ion-focusable hydrated" lines="none">
                <div class="info">Please fill all the pincode if it is supported on specific pincode and if it is supported on all pincode the leave it empty</div>
            </ion-item>
            <!---->
        </ion-card>
        <ion-card class="childCards md hydrated">
            <!----><!----><!----><!----><!----><!---->
            <ion-item class="item-interactive item-select item md in-list ion-activatable ion-focusable hydrated item-label ion-untouched ion-pristine ion-valid">
                <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated" id="ion-sel-2-lbl">Enter tags Here</ion-label>
                <ion-select                      
                    class="ng-untouched ng-pristine ng-valid md in-item hydrated ion-untouched ion-pristine ion-valid"
                    role="listbox"
                    aria-haspopup="dialog"
                    aria-expanded="false"
                    aria-labelledby="ion-sel-2-lbl"
                >
                    <!---->
                    <ion-select-option role="option" id="ion-selopt-6" class="md hydrated">Short Time Offers </ion-select-option>
                    <ion-select-option role="option" id="ion-selopt-7" class="md hydrated">Top Savers Today </ion-select-option>
                    <ion-select-option role="option" id="ion-selopt-8" class="md hydrated">Popular Deals </ion-select-option>
                    <ion-select-option role="option" id="ion-selopt-9" class="md hydrated">Best Offers </ion-select-option><input type="hidden" class="aux-input" name="ion-sel-2" value="" />
                </ion-select>
            </ion-item>
            <!----><!---->
            <ion-item class="itemHeight item md item-lines-none in-list ion-focusable hydrated" lines="none"><div class="info">only one tag per product is allow product here</div></ion-item>
            <!---->
        </ion-card>
        <ion-card class="childCards md hydrated">
            <!----><!----><!---->
            <ion-item class="item-interactive item-input item md in-list ion-focusable hydrated">
                <img  class="image-table" src="{{url}}" />
                <!-- <span slot="start"><ion-icon class="iconStart md hydrated" name="folder" role="img" aria-label="folder"></ion-icon></span> -->
                <ion-input accept=".jpeg, .png, .jpg" name="images" type="file" class="sc-ion-input-md-h sc-ion-input-md-s md hydrated"  (change)="onFileChange($event)">
                    <!-- <input class="native-input sc-ion-input-md" aria-labelledby="ion-input-8-lbl" accept=".jpeg, .png, .jpg" autocapitalize="off" autocomplete="off" autocorrect="off" name="images" placeholder="" type="file" /> -->
                </ion-input>
            </ion-item>
            <!----><!----><!----><!----><!----><!---->
        </ion-card>          
        <ion-card class="childCards md hydrated">
            <!----><!----><!----><!----><!---->
            <ion-item class="item-interactive item-select item md in-list ion-activatable ion-focusable hydrated item-label ion-untouched ion-pristine ion-valid">
                <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated" id="ion-sel-3-lbl">Select All The Categories for Product</ion-label>
                <ion-select
                    
                    multiple="true"
                    class="ng-untouched ng-pristine ng-valid md in-item hydrated ion-untouched ion-pristine ion-valid"
                    role="listbox"
                    aria-haspopup="dialog"
                    aria-expanded="false"
                    aria-labelledby="ion-sel-3-lbl"
                >
                    <!---->
                    <ion-select-option role="option" id="ion-selopt-10" class="md hydrated">12 </ion-select-option>
                    <ion-select-option role="option" id="ion-selopt-11" class="md hydrated">Breakfast Items </ion-select-option>
                    <ion-select-option role="option" id="ion-selopt-12" class="md hydrated">Fruits </ion-select-option>
                    <ion-select-option role="option" id="ion-selopt-13" class="md hydrated">Ready to Eat </ion-select-option>
                    <ion-select-option role="option" id="ion-selopt-14" class="md hydrated">Toiletries </ion-select-option>
                    <ion-select-option role="option" id="ion-selopt-15" class="md hydrated">as </ion-select-option>
                    <ion-select-option role="option" id="ion-selopt-16" class="md hydrated">asd </ion-select-option>
                    <ion-select-option role="option" id="ion-selopt-17" class="md hydrated">jk </ion-select-option><input type="hidden" class="aux-input" name="ion-sel-3" value="" />
                </ion-select>
            </ion-item>
            <!----><!----><!----><!---->
        </ion-card>
        <ion-card class="childCards md hydrated">
            <!----><!----><!----><!----><!----><!----><!---->
            <ion-list class="md list-md hydrated">
                <ion-radio-group class="ng-untouched ng-pristine ng-valid ion-untouched ion-pristine ion-valid md hydrated" role="radiogroup" value="true" aria-labelledby="ion-rg-0-lbl">
                    <ion-list-header class="md hydrated"> In Stock </ion-list-header>
                    <ion-item class="item md in-list ion-activatable ion-focusable hydrated item-label">
                        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated" id="ion-rb-0-lbl">Yes</ion-label>
                        <ion-radio role="radio" aria-checked="true" value="true" aria-labelledby="ion-rb-0-lbl" class="md in-item interactive hydrated"></ion-radio>
                    </ion-item>
                    <ion-item class="item md in-list ion-activatable ion-focusable hydrated item-label">
                        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated" id="ion-rb-1-lbl">No</ion-label>
                        <ion-radio role="radio" aria-checked="false" value="false" aria-labelledby="ion-rb-1-lbl" class="md in-item interactive hydrated"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <!----><!---->
        </ion-card>
        <ion-card class="childCards md hydrated">
            <!----><!----><!----><!----><!----><!----><!---->
            <ion-list class="md list-md hydrated">
                <ion-radio-group class="ng-untouched ng-pristine ng-valid ion-untouched ion-pristine ion-valid md hydrated" role="radiogroup" value="true"  aria-labelledby="ion-rg-1-lbl">
                    <ion-list-header class="md hydrated"> Free Shipping </ion-list-header>
                    <ion-item class="item md in-list ion-activatable ion-focusable hydrated item-label">
                        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated" id="ion-rb-2-lbl">Yes</ion-label>
                        <ion-radio role="radio" aria-checked="false" aria-labelledby="ion-rb-2-lbl" value="true"  class="md in-item interactive hydrated"></ion-radio>
                    </ion-item>
                    <ion-item class="item md in-list ion-activatable ion-focusable hydrated item-label">
                        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated" id="ion-rb-3-lbl">No</ion-label>
                        <ion-radio role="radio" aria-checked="false" aria-labelledby="ion-rb-3-lbl" value="false"  class="md in-item interactive hydrated"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <!----><!---->
        </ion-card>
        <ion-card class="childCards md hydrated">
            <!---->
            <ion-item class="item-interactive item-input item-has-placeholder item md in-list ion-focusable hydrated ion-untouched ion-pristine ion-valid">
                <span slot="start"><ion-icon class="iconStart md hydrated" name="keypad" role="img" aria-label="keypad"></ion-icon></span>
                <ion-input color="dark" class="ng-untouched ng-pristine ng-valid sc-ion-input-md-h sc-ion-input-md-s ion-color ion-color-dark md hydrated ion-untouched ion-pristine ion-valid">
                    <input class="native-input sc-ion-input-md" aria-labelledby="ion-input-12-lbl" autocapitalize="off" autocomplete="off" autocorrect="off" name="ion-input-12" placeholder="Product Delivery In" type="text" />
                </ion-input>
            </ion-item>
            <!----><!----><!----><!----><!----><!----><!----><!---->
        </ion-card>
        <ion-card class="childCards md hydrated">
            <!----><!----><!----><!----><!----><!----><!---->
            <ion-list class="md list-md hydrated">
                <ion-radio-group class="ng-untouched ng-pristine ng-valid ion-untouched ion-pristine ion-valid md hydrated" value="true"  role="radiogroup" aria-labelledby="ion-rg-2-lbl">
                    <ion-list-header class="md hydrated"> Cash on Delivery </ion-list-header>
                    <ion-item class="item md in-list ion-activatable ion-focusable hydrated item-label">
                        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated" id="ion-rb-4-lbl">Yes</ion-label>
                        <ion-radio role="radio" aria-checked="false" aria-labelledby="ion-rb-4-lbl" value="true"  class="md in-item interactive hydrated"></ion-radio>
                    </ion-item>
                    <ion-item class="item md in-list ion-activatable ion-focusable hydrated item-label">
                        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated" id="ion-rb-5-lbl">No</ion-label>
                        <ion-radio role="radio" aria-checked="false" aria-labelledby="ion-rb-5-lbl" value="false"  class="md in-item interactive hydrated"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <!----><!---->
        </ion-card>
        <div >
            <!---->
            <div class="footerItems">
                <ion-button color="danger" text-capitalize="" class="ion-color ion-color-danger md button button-solid ion-activatable ion-focusable hydrated">Cancel</ion-button>
                <ion-button (click)="addProduct()" class="saveButton md button button-solid ion-activatable ion-focusable hydrated" text-capitalize=""> Save </ion-button>
            </div>
            <!---->
        </div>
    </ion-list>
</ion-content>
