<ion-content  class="md hydrated" style="--offset-top: 0px; --offset-bottom: 0px;">
  <ion-list  class="md list-md hydrated">
      <ion-list-header  class="medium md hydrated"><ion-label  class="page-subtitle sc-ion-label-md-h sc-ion-label-md-s md hydrated">Check all your order details here</ion-label></ion-list-header>
      <div  class="topsearchBarSection">
          <ion-item  class="item-interactive item-select item md in-list ion-activatable ion-focusable hydrated item-label">
              <ion-label  class="filterSelect sc-ion-label-md-h sc-ion-label-md-s ion-color ion-color-dark md hydrated" color="dark" id="ion-sel-5-lbl">
                  <ion-icon  name="funnel" role="img" class="md hydrated" aria-label="funnel"></ion-icon> Sort
              </ion-label>
              <ion-select  class="selectTheme md in-item hydrated" color="dark" interface="popover" role="listbox" aria-haspopup="dialog" aria-expanded="false" aria-labelledby="ion-sel-5-lbl">
                  <!---->
                  <ion-select-option  color="light" role="option" id="ion-selopt-12" class="md hydrated"> Name</ion-select-option>
                  <ion-select-option  color="light" role="option" id="ion-selopt-13" class="md hydrated"> Date</ion-select-option><input type="hidden" class="aux-input" name="ion-sel-5" value="" />
              </ion-select>
          </ion-item>
          <ion-searchbar
              
              animated=""
              class="searchBarInput sc-ion-searchbar-ios-h sc-ion-searchbar-ios-s ios searchbar-animated searchbar-should-show-cancel hydrated"
              debounce="500"
              mode="ios"
              round=""
              showcancelbutton="always"
              role="search"
          >
              <div class="searchbar-input-container sc-ion-searchbar-ios">
                  <input aria-label="search text" class="searchbar-input sc-ion-searchbar-ios" placeholder="Search" type="search" autocomplete="off" autocorrect="off" style="padding-left: calc(50% - 21px);" />
                  <ion-icon aria-hidden="true" class="searchbar-search-icon sc-ion-searchbar-ios ios hydrated" role="img" aria-label="search outline" style="margin-left: calc(50% - 51px);"></ion-icon>
                  <button aria-label="reset" type="button" no-blur="" class="searchbar-clear-button sc-ion-searchbar-ios">
                      <ion-icon aria-hidden="true" class="searchbar-clear-icon sc-ion-searchbar-ios ios hydrated" role="img" aria-label="close circle"></ion-icon>
                  </button>
              </div>
              <button aria-label="Cancel" type="button" class="searchbar-cancel-button sc-ion-searchbar-ios" style="margin-right: 0px;"><div aria-hidden="true" class="sc-ion-searchbar-ios">Cancel</div></button>
          </ion-searchbar>
      </div>
  </ion-list>
  <ion-grid  class="paddingGrid md hydrated">
      <ion-row  class="scrollRow md hydrated">
          <ion-col
              
              size="12"
              class="md hydrated"
              style="flex: 0 0 calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%);"
          >
              <table  class="tableStyle">
                  <thead >
                      <tr >
                          <!---->
                          <th  text-capitalize="">id</th>
                          <th  text-capitalize="">created_at</th>
                          <th  text-capitalize="">AddressType</th>
                          <th  text-capitalize="">flat Number</th>
                          <th  text-capitalize="">Street</th>
                          <th  text-capitalize="">Locality</th>
                          <th  text-capitalize="">Deliverd To</th>
                          <th  text-capitalize="">Products Id</th>
                          <th  text-capitalize="">productDetails</th>
                          <th  text-capitalize="">Promo Code</th>
                          <th  text-capitalize="">Promo off</th>
                          <th  text-capitalize="">Selected Day</th>
                          <th  text-capitalize="">Selected Time</th>
                          <th  text-capitalize="">User Id</th>
                      </tr>
                  </thead>
                  <tbody >
                      <!---->
                      <tr >
                          <!---->
                          <td >
                              <!----><!---->
                              <span >1</span>
                              <!----><!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >Thu Nov 26 2020 19:33:03 GMT+0530 (India Standard Time)</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >Home</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >Sempalit</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >raub</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >raub</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >Mr tang</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >1gWuicZxgdIvo0R6jYsW</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >Corn Flakes=1</span>
                              <!---->
                          </td>
                          <td ><!----><!----><!----><!----></td>
                          <td ><!----><!----><!----><!----></td>
                          <td >
                              <!----><!----><!---->
                              <span >Tuesday</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >6AM - 9AM</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >TssVjz7IlmNEHGVHIIKm2cTJHZG3</span>
                              <!---->
                          </td>
                      </tr>
                      <tr >
                          <!---->
                          <td >
                              <!----><!---->
                              <span >2</span>
                              <!----><!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >Wed Aug 12 2020 17:41:51 GMT+0530 (India Standard Time)</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >Home</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >Rooshof</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >conrardie</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >Bellville</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >Mr nhlanhla</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >1gWuicZxgdIvo0R6jYsW</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >Corn Flakes=4</span>
                              <!---->
                          </td>
                          <td ><!----><!----><!----><!----></td>
                          <td ><!----><!----><!----><!----></td>
                          <td >
                              <!----><!----><!---->
                              <span >Sunday</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >6AM - 9AM</span>
                              <!---->
                          </td>
                          <td >
                              <!----><!----><!---->
                              <span >3lKiUK296ocueT4dow9NdnYbyYX2</span>
                              <!---->
                          </td>
                      </tr>       
                  </tbody>
              </table>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
