<!-- home.page.html -->
<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides>
      <ion-slide>
        <div class="slide">
          <img src="assets/fruits&veggies3.png" />
          <h2>Welcome to our service</h2>
          <p>
          <b>Made for Retailers and Wholesalers </b> Best Online platform for Retailers and Wholesalers to Buy
          Fresh Produce and Grocery
          </p>
        </div>
      </ion-slide>

      <ion-slide>
        <img src="assets/fruits&veggies4.png" />
        <h2>What is Make us Unique from others</h2>
        <p>
          <b></b>
        </p>
      </ion-slide>

      <ion-slide>
        <img src="assets/fruits&veggies5.png" />
        <h2>What we sell to Retailers and Wholesalers ?</h2>
        <p>
          <b></b> 
        </p>
      </ion-slide>

      <ion-slide>
        <img src="assets/fruits&veggies.png" />
        <h2>Ready to Order?</h2>
        <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-app>
