.medium {
    color: #000;
    font-weight: 700;
    font-size: 22px;
    background: #eee!important;
}
element.style {
    margin-right: 0px;
}
// form, input, optgroup, select {
//     margin: 0;
//     font: inherit;
//     color: inherit;
// }
// input, label, select, textarea {
//     font-family: inherit;
//     line-height: normal;
// }
// * {
//     box-sizing: border-box;
//     -webkit-tap-highlight-color: transparent;
//     -webkit-tap-highlight-color: transparent;
//     -webkit-touch-callout: none;
// }
// button span, input, textarea {
//     touch-action: manipulation;
// }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
tr {
    color: var(--ion-color-dark);
    border-bottom: 1px solid #d0cfcf;
}

ion-select {
    opacity: 1!important;
    color: var(--ion-color-secondary);
}